-if flash[:alert]
  .alert-message.error= flash[:alert]

= form_tag '/auth/identity/callback', :class => 'formtastic' do |f| 
  %h1= t('.page_header')
  
  %fieldset.inputs
    %ol
      = semantic_input_tag(:auth_key, :string, t('.auth_key'))
      = semantic_input_tag(:password, :password)  
      
  %fieldset.buttons
    %ol
      %li.commit.button.input
        = submit_tag t('.submit'), :class => 'btn primary create'
        
  %p= link_to t('.sign_up_link'), sign_up_path
  