= flash_errors

= form_tag '/auth/identity/register', :class => 'formtastic' do |f| 
  %h1 Create an Account 
  %fieldset.inputs
    %ol
      = semantic_input_tag(:email, :string, t('.auth_key'), :value => identity.try(:email))
      = semantic_input_tag(:password, :password)
      = semantic_input_tag(:password_confirmation, :password, t('.password_confirmation'))
      = hidden_field_tag(:token, params[:token])
  %fieldset.buttons
    %ol
      %li.commit.button.input
        = submit_tag t('.submit'), :class => 'btn primary create'

  %p= link_to t('.sign_in_link'), sign_in_path
