.promo.row
  .call-to-action
    %h1 Mood Metrics
    %h2 Better feedback for better projects.
    = link_to t('.try_it_now'), sign_up_path, :class => %w(btn primary large)
    = link_to t('.learn_more'), about_path, :class => %w(btn large)
    %p This app is still <u><a href='#' id='alpha'>ALPHA</a></u>. Proceed at your own risk.
  .illustration1
    = image_tag('crowd.png')
  .illustration2
    %p

.details.row
  .feature
    %h2 Fast Feedback
    %p
      Knowing the team mood on a day-to-day basis can help spot problems before
      they become large enough to have a major impact on your project.

    %h3 Soon to come:
    %p Better charts and graphs, as well as rollups of project mood, and company mood.

  .feature
    %h2 More Transparency
    %p
      Team happiness is an important metric. Use it in conjunction with velocity
      and other metrics to analyze which parts of your process are working and
      which are not.

    %h3 Soon to come:
    %p Integration with other tools such as Pivotal Tracker and Github.

  .feature
    %h2 Easy To Use
    %p
      Team members can update their mood daily, and if anyone forgets they'll
      get a reminder email sent automatically.

    %h3 Soon to come:
    %p Update via email, Twitter, or mobile app.

#my-modal.modal.hide.fade{:style => "display: none;"}
  .modal-header
    %a.close{:href => "#"}x
    %h3 Alpha apps haz many surprises
    .modal-body
    = image_tag("lolcat#{[1,2,3,4].sample}.jpg", :id => 'lolcat')
    .modal-footer

- content_for :page_scripts do
  :javascript
    $('#my-modal').modal();
    $('#alpha').click(function(){$('#lolcat').attr("src", '/assets/lolcat' + Math.ceil(Math.random()*4) + '.jpg');$('#my-modal').modal('show')})