-if flash[:alert]
  .alert-message.error= flash[:alert]
  
%h1.row{:class => project.mood}
  = project.company_name
  = project.name

%h2.row Project Mood: #{project.mood.titleize}

.row.team
  %ul[project]
    - project.memberships.each do |member|
      %li[member.user]
        = image_tag("#{member.mood}.png", :size => '128x128')

- if user_signed_in? && current_user.member_of?(project)        
  .row.project-actions
    = link_to t('nav.invite_member'), new_project_invitation_path(project), :class => %w(btn default)
    = link_to t('nav.update_mood'),  new_project_mood_update_path(project), :class => %w(btn default)
  
