-if flash[:alert]
  .alert-message.error= flash[:alert]
.row
  %h1
    = project.company_name
    = project.name
  %h3.members #{pluralize(project.memberships.size, 'member')}
  %h2.mood #{t(".current_mood")}: #{project.mood.titleize}

.row
  %ul.tabs
    %li.active
      %a{:href => '#niko-niko'} Calendar
    %li
      %a{:href => '#line-chart'} Chart
    %li
      %a{:href => '#both'} Both

.row
  = render 'niko_niko'
  = render 'line_chart', :dom_element_id => 'line-chart'

- if user_signed_in? && current_user.member_of?(project)
  .row.project-actions
    = link_to t('nav.invite_member'), new_project_invitation_path(project), :class => %w(btn default)
    = link_to t('nav.update_mood'), new_project_mood_update_path(project), :class => %w(btn primary)

  .row
    #send-link
      = form_tag project_links_path, :id => 'send-link-form' do |f|

        %fieldset
          %legend Send Link
          .clearfix.string.required
            = label_tag(:email, t(".email"), :class => 'required')
            .input
              = text_field_tag(:email, '', :required => 'required', :class => 'required')
              %span.help-inline Use this form to send a link to someone, anonymously.
          = hidden_field_tag :project_id, project.id
          .actions
            = submit_tag t('.send_link'), :class => 'btn  create'

  .row
    %ul.recent-comments
      - project.mood_updates.recent.collect(&:comment).compact.each do |comment|
        %li= comment

- content_for :page_scripts do
  :javascript
    $('.tabs').bind('change', function (e) {
      var targetId        = $(e.target).attr('href');
      if(targetId == '#both'){
        $('#niko-niko').show();
        $('#line-chart').show();
      } else {
        $('#niko-niko').hide();
        $('#line-chart').hide();
        $(targetId).toggle();
      }
    });
    $('.tabs').tabs();
