-if flash[:alert]
  .alert-message.error= flash[:alert]
.row
  %h1
    = project.company_name
    = project.name
  %h3.members #{pluralize(project.memberships.size, 'member')}
  %h2.mood #{t(".current_mood")}: #{project.mood.titleize}

.row
  #niko-niko
    #calendar
      - history = project.mood_history

      - if history.number_of_days < 7

        - (7 - history.number_of_days).times do
          %ul.column
            %li.date No Data
      - history.days.each do |day|
        %ul.column{:class => ('current' if day.in_time_zone.to_date == Time.now.to_date)}
          %li.date
            #{day.to_date}
          - project.mood_history.on(day).each do |mood_update|
            %li[mood_update]{:'data-date' => day.to_s, :class => mood_update.try(:mood)}
              = mood_update.try(:mood)

    #prev prev
    #next next
- if user_signed_in? && current_user.member_of?(project)
  .row.project-actions
    = link_to t('nav.invite_member'), new_project_invitation_path(project), :class => %w(btn default)
    = link_to t('nav.update_mood'),  new_project_mood_update_path(project), :class => %w(btn primary)

  .row
    #send-link
      = form_tag project_links_path, :id => 'send-link-form' do |f|

        %fieldset
          %legend Send Link
          .clearfix.string.required
            = label_tag(:email, t(".email"), :class => 'required')
            .input
              = text_field_tag(:email, '', :required => 'required', :class => 'required')
              %span.help-inline Use this form to send a link to someone, anonymously.
          = hidden_field_tag :project_id, project.id
          .actions
            = submit_tag t('.send_link'), :class => 'btn  create'

:javascript
  $(document).ready(function() {
    // Using custom configuration
    $("#calendar").carouFredSel({
      items     : 7,
      circular  : false,
      infinite  : false,
      prev      : "#prev",
      next      : "#next",
      scroll : {
        items      : 1,
        easing      : "swing",
        duration    : 200,
        pauseOnHover  : true
      }
    });
  });
