-if flash[:alert]
  .alert-message.error= flash[:alert]
  
%h1.row{:class => project.mood}= project.name

.row.team
  %ul[project]
    - project.users.each do |user|
      %li[user]
        = image_tag("#{user.mood}.png", :size => '128x128')

- if user_signed_in? && current_user.member_of?(project)        
  .row.project-actions
    = link_to t('nav.invite_member'), new_project_invitation_path(project), :class => %w(btn default)
    = link_to t('nav.update_mood'),  new_project_mood_update_path(project), :class => %w(btn default)
  
