!!!
%html
  %head
    %title Canary
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    controller.controller_name

    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      fbg.hideFOUT('asap');
  %body{:class => [controller.controller_name, controller.action_name]}
    .topbar
      .topbar-inner
        .container
          = link_to t('brand'), root_path, :class => 'brand'
          %ul.nav
            %li= link_to t('nav.companies'), companies_path
            %li= link_to t('nav.projects'), projects_path
            - if user_signed_in?
              //%li= link_to t('nav.my_projects'), my_projects_path
              %li= link_to t('nav.sign_out'), sign_out_path

            - else
              %li= link_to t('nav.sign_in'), sign_in_path
              %li= link_to t('nav.sign_up'), sign_up_path
          
    .container
      = yield
      
      .footer.row
        %span.copyright &copy; #{Time.now.year} Matt Van Horn
        
:javascript
  $(".alert-message").alert();