!!!
%html
  %head
    = raw analytical.head_prepend_javascript
    %title Mood Metrics
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    controller.controller_name
    = javascript_include_tag "foutbgone"

    = csrf_meta_tags
    :javascript
      fbg.hideFOUT('asap');
    - analytical.identify(current_user.id, :email => current_user.email) if user_signed_in?
    = raw analytical.head_append_javascript

  %body{:class => [controller.controller_name, controller.action_name]}
    = raw analytical.body_prepend_javascript

    .topbar
      .topbar-inner
        .container
          = link_to t('brand'), root_path, :class => 'brand'
          %ul.nav
            %li= link_to t('nav.companies'), companies_path
            %li= link_to t('nav.projects'), projects_path
            - if user_signed_in?
              //%li= link_to t('nav.my_projects'), my_projects_path
              %li= link_to t('nav.sign_out'), sign_out_path

            - else
              %li= link_to t('nav.sign_in'), sign_in_path
              %li= link_to t('nav.sign_up'), sign_up_path

    .container.page
      - if flash[:alert]
        .row
          .alert-message.error
            %a.close{:href => "#"}×
            %p= flash[:alert]
      = yield

      .footer.row
        %span.copyright &copy; #{Time.now.year} Matt Van Horn
    = raw analytical.body_append_javascript

  = javascript_include_tag "http://www.google.com/jsapi"
  = javascript_include_tag "application"
  :javascript
    $(".alert-message").alert();
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/PV7T93KhSZuAl1HZtscpkw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();

  = yield :page_scripts